$soft-background: #ededed;
$line: rgba(0, 0, 0, 0.2);
$background: #1d1d1d;
$text-high: #ffffff;
$text-medium: rgba(256, 256, 256, 0.7);
$text-low: rgba(256, 256, 256, 0.4);
$scrollbar-color: rgba(256, 256, 256, 0.3);
$page-margin: 3%;

$break-small: 460px;
$break-medium: 690px;
$break-medium-large: 900px;
$break-large: 1290px;
